body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
		font-size: 400%;

}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

h2 {
    font-size: 70px;
}

p {
    font-size: 35px;
}
header {
	
}

footer {
	font-style: italic;
}
